<h1 class="heading">Welcome to my page</h1>
<h4>
  <app-form-label [Label]="'If you are a new user, please '"></app-form-label>
  <button class="btn btn-primary" (click)="showRegister()">Register</button>
</h4>
<h4>
  <app-form-label
    [Label]="'If you have already registered, please  '"
  ></app-form-label>
  <button class="btn btn-primary" (click)="showLogin()">Login</button>
</h4>

<app-login-form *ngIf="isLogin" (addLogin)="addLogin($event)"></app-login-form>
<app-registration
  *ngIf="isRegistration"
  (addRegistration)="addUser($event)"
></app-registration>
